
.principal{
    width: 100%;

    &__image{
        width: 100%;
        height: 600px;
        background-image: url(/imagenes/pexels-pixabay-371924.jpg);
        background-size: cover;
        
    }

    &__text{
        width: 30%;
        height: 100px;
        justify-items: center;
        position: absolute;
        margin-left: 200px;
        margin-top: 80px;
        }

    &__p{
        height: 120px;
        font-family: $font;
        font-size:  24px;
        color: $white;
        }
    }